.marquee-strip {
    background-color: rgb(167, 255, 0);
    padding: 14px 0;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    /* เลื่อนไปซ้ายครึ่งนึงของความกว้างทั้งหมด (จบเนื้อหาชุดที่ 1 พอดี) */
    transform: translateX(-50%);
  }
}

.marquee-inner {
    display: inline-flex;
    gap: 0;
    animation: marquee 20s linear infinite;
}

.marquee-item {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    letter-spacing: 0.08em;
    color: black;
    padding: 0 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.marquee-dot {
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%
}